





{% extends 'blog/base.html' %}
{% load static %}

{% block content %}



<div class="col-sm-10 ">

<h2 class="my-5 text-text-white">login</h2>
{% if messages %}

 {% for msg in messages %}
    <p {% if msg.tags %} class="alert alert-{{msg.tags}}mb-5" {% endif %}> {{msg}}</p>
 {% endfor %}
 {% endif %}

 
<form action="" method="post">
{% csrf_token %}
{% for fm in form %}

<div class="form-group">
{{fm.label_tag}}  {{fm}}  {{fm.errors|striptags}}
</div>
{% endfor %}
<input type="submit" value="Submit">


</form>





</div>


{% endblock content %}






